.problems-container {
  width: 70vw;
}

.problem-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.problem-item { 
  width: 100%;
}
.problem-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
}

.problem-container > *, .problem-headers > *{
  /* width: 33%; */
  flex-grow: 1;
}

li.grow, p.grow {
  flex-grow: 4;
}


.problem-headers {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px auto;
  border-top: 2px dotted black;
}