.problems-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-container {
  width: 80%;
  height: 80%;
  overflow-y: auto;
  margin: 0 auto;
}
.problem-list, .problem-headers { direction: rtl;}
.problem-list  {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.problem-item { 
  width: 100%;
}
.problem-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: right;
}

.problem-container > *, .problem-headers > *{
  width: 20%;
  /* flex-grow: 1; */
}

.row-problem input {
  width: 100%;
}

 .grow {
  flex-grow: 3;
}


.problem-headers {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px auto;
}

.change-row {
  text-decoration: underline;
  color: yellow;
  cursor: pointer;
  margin: 0 5px;
  padding: 0;
  width: 30px;
}

.no-under { text-decoration: unset;}

