.row-item {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: nowrap;
  text-align: center;
}
.data-item {
  width: 15%;
}
.rows-list {
  display: flex;
  flex-direction: column;
}