.valid-rows-container {
  color: black;
  height: 65%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto;

}

.valid-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: right;

}

.valid-list > li > p {
  width: 15%;
  text-align: right;
  word-break: break-all;
}
.header-item { font-weight: bold;}
.valid-list select {
  padding: 2px 4px;
  border-radius: 5px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid black  ;
}

.header-item {
    margin-bottom: 15px;
}

.data-item > span {
  cursor: pointer;
}
.row-item {
  padding: 4px 0;
}
.row-item:nth-child(odd){
  background-color: rgba(255, 255, 255, 0.8);
}
.row-item:nth-child(even){
  background-color: rgba(255, 255, 255, 0.5);
}
.phone {
  position: absolute;
  top: 50vh;
  width: 90%;
  left: 5%;
  display: none;
  color: red;
  font-size: 2rem;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 5px 10px;
}
.phone.hide {display: none;}

@media screen and (max-width:600px) {
  .phone {display: block;}
  .valid-rows-container, .header-list select {
    font-size: 0.5rem;
  }
  .header-item { display: none;}
  .row-item {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-right: 2rem;
    font-size: 1.5rem;
    width: 100vw;
    border-bottom: 1px solid black;
  }
  .valid-list > li > p {
    padding-right: 1rem;
    width: 100%;
  }
}