.valid-rows-container {
  color: black;
  height: 65%;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;

}

.valid-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.valid-list > li > p {
  width: 15%;
  text-align: right;
}
.header-item { font-weight: bold;}
.valid-list select {
  padding: 2px 4px;
  border-radius: 5px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid black  ;
}

.header-item {
    margin-bottom: 15px;
}

.data-item > span {
  cursor: pointer;
}

@media screen and (max-width:600px) {
  .valid-rows-container, .header-list select {
    font-size: 0.5rem;
  }
}