

button:disabled {
  cursor: not-allowed;
}
.main-container {
  text-align: center;
  color: white;

  /* z-index: 1; */
  /* position: absolute; */
  margin: 0;
  padding: 0;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  height: 100vh;
  width: 100vw;
}

h1, h2 {
  margin: 0px;
  color: #131313;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.sheet-details-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@media screen and (max-width:600px) {
  h1 {
    font-size: 1rem;
  }
  .problem-msg-container > * {
    font-size: 1rem;
  }
  .problem-msg-container button {
    font-size: 0.8rem;
  }
}

