@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Shadows+Into+Light&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Rubik', sans-serif;
}

.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

ul {
  display:  flex;
}

li {
  display: flex;
}

button {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 5px;
  padding: 10px 12px;
  border-radius: 12px;
  background-color: white;
  direction: rtl;
}

.modal-container {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 60%;
  height: 60%;
  padding: 20px 0;
  background-color: #15091F;
  border: 2px solid white;
  color: white;
  border-radius: 6px;
}

.close-btn {
  position: absolute;
  top: 0;
  left: 0;
} 
